---
layout: default
title: lookout hackers blog
---
<div id="sidebar">

{% include sidebar.html %}

<!-- Pagination links -->
<div class="sidebar_content pagination">
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">Previous</a>
    {% else %}
        <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% endif %}
{% endif %}
<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
{% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
{% endif %}
</div>

</div>

<div id="posts">

{% for page in paginator.posts %}
{% assign body = page.content %}
{% include post-block.html %}
{% endfor %}

</div>
