<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css" />
    <title>{{ page.title }}</title>
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="Lookout Hackers Blog" />
    <meta property="og:url" content="http://hackers.lookout.com" />
    <meta property="og:description" content="We're the engineers of Lookout Mobile Security, and now we have a blog. Join us!" />
    <meta property="og:site_name" content="Lookout Hackers Blog" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6252142-13']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="head">
      <div id="logo">
        <a alt="Lookout Hackers" href="/">
          <h1>lookout hackers blog</h1>
        </a>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div class="clear"></div>
      <div id="footer">
        <a href="/" alt="Blog">
          <strong>
            Blog
          </strong>
        </a>
         &middot;
        <a href="https://twitter.com/lookouteng" alt="Lookout Eng on Twitter">
          <strong>
            @LookoutEng
          </strong>
        </a>
         &middot;
        <a href="https://github.com/lookout" alt="Lookout on GitHub">
          <strong>
            GitHub
          </strong>
        </a>
         &middot;
        <a href="https://www.lookout.com" alt="Lookout.com">
          <strong>
            Main Site
          </strong>
        </a>
      </div>
  </body>
</html>

<!--
  vim: sw=2 ts=2 et
-->
